@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[10px] md:text-[12px] lg:text-[14px] xl:text-[16px];

    &[data-theme="light"] {
      --surface-color: #f5f5f5;
      --accent-color: #41a822;
      --primary-color: #14121d;
      --secondary-color: #a0a0a0;
      --cold-color: #2832f2;
      --hot-color: #d61812;

      body {
        background-image: url("/img/bg-grid-light.png");
      }
    }

    &,
    &[data-theme="dark"] {
      --surface-color: #100d15;
      --accent-color: #47f213;
      --primary-color: #e2e2d2;
      --secondary-color: #767676;
      --cold-color: #4e56ed;
      --hot-color: #e0312b;

      body {
        background-image: url("/img/bg-grid.png");
      }
    }
  }

  body {
    @apply bg-surface text-primary;
  }

  @font-face {
    font-family: "project_space";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@/app/fonts/Project_Space.ttf") format("truetype");
  }
  @font-face {
    font-family: "neuropol";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@/app/fonts/neuropol_x.ttf") format("truetype");
  }

  .line {
    @apply relative flex h-[1px] w-full items-center bg-primary;
    &::after,
    &::before {
      content: "";
      @apply absolute aspect-square w-[9px] rounded-full bg-accent;
    }

    &::before {
      @apply right-0;
    }
  }

  .text-title {
    @apply text-4xl xl:text-6xl;
  }

  .swither {
    @apply bg-transparent text-sm hover:cursor-pointer;

    option {
      @apply bg-primary text-surface;
    }
  }

  .button {
    @apply rounded-xl border border-accent px-6 py-2 uppercase text-primary transition-all duration-short;

    &:hover {
      @apply border-transparent bg-accent text-surface;
    }
  }
}
