@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-primary;
    background-image: url("/img/bg-grid.png");
  }
  @font-face {
    font-family: "project_space";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@/app/fonts/Project_Space.ttf") format("truetype");
  }
  @font-face {
    font-family: "neuropol";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("@/app/fonts/neuropol_x.ttf") format("truetype");
  }

  .line {
    @apply relative flex h-[1px] w-full items-center bg-primary;
    &::after,
    &::before {
      content: "";
      @apply absolute aspect-square w-[9px] rounded-full border border-primary bg-surface;
    }

    &::before {
      @apply right-0;
    }
  }

  .text-title {
    @apply text-4xl xl:text-6xl;
  }

  html {
    @apply text-[10px] md:text-[12px] lg:text-[14px] xl:text-[16px];
  }
}
